@font-face {
    font-family: 'Paro';
    src: url('../static/fonts/Paro-Regular.eot');
    src: url('../static/fonts/Paro-Regular.eot?#iefix') format('embedded-opentype'), url('../static/fonts/Paro-Regular.woff2') format('woff2'), url('../static/fonts/Paro-Regular.woff') format('woff'), url('../static/fonts/Paro-Regular.ttf') format('truetype'), url('../static/fonts/Paro-Regular.svg#Paro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../static/fonts/Urbanist-Regular.eot');
    src: url('../static/fonts/Urbanist-Regular.eot?#iefix') format('embedded-opentype'),
        url('../static/fonts/Urbanist-Regular.woff2') format('woff2'),
        url('../static/fonts/Urbanist-Regular.woff') format('woff'),
        url('../static/fonts/Urbanist-Regular.ttf') format('truetype'),
        url('../static/fonts/Urbanist-Regular.svg#Urbanist-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$marron: #9B7764;
$bleuC: #64889B;
$bleuF: #092327;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    user-select: none;
    // background-color: #abffff;
}

body{
    height: 7500px;
    @media only screen and (max-width: 1200px)  {
        height: 3500px;
    }
}

::-webkit-scrollbar {
    display: none;
}

.loader {
    cursor: wait;
    z-index: 99;
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 3em 3.5em;
    background-color: white;
    display: flex;
    align-items: center;
    transition: transform 1.5s cubic-bezier(0.65, 0, 0.35, 1);
    &__number{
        width: 17.5em;
        transition: transform 2s cubic-bezier(0.65, 0, 0.35, 1);
    }
    #number {
        font-family: "Paro";
        font-size: 12em;
        text-transform: uppercase;
        color: $bleuC;
    }
    @media only screen and (max-width: 1200px)  {
        padding: 1em 1.5em;
        &__number{
            width: 8.75em;
        }
        #number{
           font-size: 6em;
        }
    }
}

.done{
    transform: translateX(100%);
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#scroll, #parasol{
    position: fixed;
    bottom: 4em;
    left: 5em;
    z-index: 90;
    border-left: solid 2px white;
    opacity: 0;
    padding: 0.1em 0 0.1em 0.5em;
    color: white;
    font-family: "Urbanist";
    font-size: 1.5em;
    transition: opacity 1s cubic-bezier(0.65, 0, 0.35, 1);
    &.visible{
        opacity: 1;
    }
    @media only screen and (max-width: 1200px)  {
        font-size: 1em;
        bottom: 2em;
        left: 2.5em;
        padding: 0.1em 0 0.1em 0.35em;
    }
    @media only screen and (max-width: 700px)  {
        left: 1.5em;
    }
}

section{
    z-index: 98;
    top: 0;
    left: 0;
    width: 60vw;
    height: 100vh;
    background-color: white;
    padding: 3em 3.5em;
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.8s cubic-bezier(0.33, 1, 0.68, 1);
    @media only screen and (max-width: 1200px)  {
        width:100vw;
    }
}

.active-slide{
    transform: translateX(0);
}

.titles {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 1.5em;
    &__big {
        font-family: "Paro";
        font-size: 7em;
        font-weight: 400;
        text-transform: uppercase;
        color: $bleuC;
        @media only screen and (max-width: 340px) {
            word-wrap: break-word;
        }
    }
    &__small {
        font-family: "Urbanist";
        font-size: 1.5em;
        color: $marron;
        font-weight: 400;
    }
}

.line{
    height: 1px;
    width: 100%;
    background-color: $bleuC;
    flex-shrink: 0;
}

.yt {
    position: relative;
    display: block;
    max-width: 100%;
    /* width of iframe wrapper */
    height: 0;
    padding: 0% 0% 56.25%;
    // pour avoir le bon ratio il faut multiplier le pourcentage par la largeur
    // padding: 0% 0% calc(56.25%*0.8);
    margin: 2em 0 2em 0;
    /* 16:9 ratio */
    overflow: hidden;
}

.yt iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.text{
    font-family: "Urbanist";
    font-size: 1.1em;
    color: $bleuF;
    max-width: 70%;
}

.page-text{
    margin-top: 3em;
    margin-bottom: 2em;
}

button{
    border: solid 1px $marron;
    color: $marron;
    background-color: white;
    padding: 0.3em 0.45em;
    font-family: "Urbanist";
    font-size: 1.1em;
    width: fit-content;
    cursor: pointer;
    align-self: flex-end;
    transition: all cubic-bezier(0.37, 0, 0.63, 1) 0.4s;
    &:hover{
        background-color: #9B7764;
        color: white;
    }
}


@media only screen and (max-width: 700px) {
    section{
        padding: 1em;
    }

    .titles {
        &__big {
            font-size: 5em;
        }
        &__small {
            font-size: 1.5em;
        }
    }
}

@media only screen and (max-width: 450px) {
    section{
        padding: 0.8em;
    }

    .titles{
        flex-direction: column;
        margin-bottom: 1em;
        &__big {
            font-size: 4em;
            margin-bottom: 0.25em;
        }
        &__small {
            font-size: 1.5em;
            margin-bottom: 0.25em;
        }
    }

    .yt {
        margin: 1.5em 0 2em 0;
    }

    button{
        padding: 0.45em 0.6em;
        font-size: 0.95em;
    }
}